* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  background-color: hsl(30, 38%, 92%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.card {
  display: flex;
  max-width: 60rem;
  height: 45rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 3rem;
}

.img-box {
  max-width: 30rem;
  flex-shrink: 0;
}

.card-img-desktop {
  max-width: 100%;
  height: 100%;
}
.card-img-mobile {
  display: none;
}

.product-details {
  padding: 3rem;
}

.product-category,
.product-name,
.product-description,
.product-price {
  margin-bottom: 2.5rem;
}

.product-category,
.product-description,
.product-price-old {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
}

.product-category {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.product-name {
  font-family: "Fraunces", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
}

.product-description {
  font-size: 1.4rem;
  line-height: 2.3rem;
}

.product-price {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.product-price-current {
  font-family: "Fraunces", sans-serif;
  font-size: 3.2rem;
  color: hsl(158, 36%, 37%);
  font-weight: 700;
}

.product-price-old {
  text-decoration: line-through;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: #fff;
  padding: 1.6rem 6.5rem;
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn:active {
  background-color: #1e4034;
}

@media screen and (max-width: 680px) {
  .container {
    padding: 2rem 1rem;
  }
  .card {
    flex-direction: column;
    max-width: 34.3rem;
    height: 61.1rem;
  }

  .img-box {
    max-width: 100%;
  }

  .card-img-desktop {
    display: none;
  }

  .card-img-mobile {
    display: block;
    max-width: 100%;
    height: 100%;
  }

  .product-category,
  .product-name,
  .product-description,
  .product-price {
    margin-bottom: 2rem;
  }

  .product-details {
    padding: 2.5rem;
  }
}
